<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>À propos</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="Description">
        <p>Bonjour, je m'appelle Érick. Durant mes études, j'ai découvert de nombreux programmes de multimédias, comme Maya(3D), Da Vinci(Montage vidéo), Photoshop, Vcv Rack et Reaper(Audio), 
          et différents types de languages de code. En ce moment, je suis dans le programme d'intégration multimédias au Collège Montmorency. Mon objectif est de pouvoir travailler dans le domaine des jeux-vidéos, plus spécifiquemment dans le milieu visuel.</p>
      </div>
     
    </div>
  </div>
</section>
