<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Salut, je m'appelle Érick, une personne fascinée par les jeux-vidéos et le milieu du cinéma, qui aimerait travailler dans ces domaines dans le futur. En 2 ans, j'ai appris comment faire du montage vidéo avec le logiciel Da Vinci, des objets 3d et comment les animer avec Maya et je suis en train d'apprendre 
          Unity pour la création de jeux-vidéos. Au moment, je suis dans le programme d'intégration multimédias au Collège Montmorency oû j'apprends à utiliser de nouvelles techonlogies multimédias</p>
      </div>
     
    </div>
  </div>
</section>
